In [4]:
print("Hello World")

Hello World

In [5]:
print('Indra Prakash')

Indra Prakash

# Heading

## Heading

### Heading

#### Heading

##### Heading

In [ ]:
This is for practice and Understand Python

In [8]:
print(5)

5

In [9]:
print(2.5)

2.5

Data types
1. int----integer values---eg-7,1,2,23,36
2. Float---Decimal values----eg-2.5,1.5,2.8,3.9
3. Bool----True or False

In [11]:
print('India','America','Russsia','Srilanka')

India America Russsia Srilanka

In [12]:
print('India','America','Russsia','Srilanka', sep='/')

India/America/Russsia/Srilanka

In [13]:
print('India','America','Russsia','Srilanka', sep='-')

India-America-Russsia-Srilanka

In [14]:
print('India','America','Russsia','Srilanka', sep='*')

India*America*Russsia*Srilanka

In [15]:
x=50
print(x)

50

In [24]:
# Adding Value with variable
y=10
y=y+10
print(y)

20

In [25]:
#Subtract with Variable
y=y-5
print(y)

15

In [26]:
x=10
x=x*10
print(x)

100

In [27]:
# Multiple Variables
a=100
b=50
print(a+b)    # Addition

150

In [28]:
# Subtraction
a-b

50

In [29]:
a*b

5000

In [30]:
a,b,c=10,20,30
print(a)
print(b)
print(c)

10
20
30

In [31]:
a=100
print(a)
print(type(a))

100
<class 'int'>

In [32]:
b=10.5
print(b)
print(type(b))

10.5
<class 'float'>

In [33]:
x=int(input('Enter a  Numeric value: '))
print(x)

Enter a  Numeric value: 10
10

# Operators

In [34]:
# Airthmetic Operators
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a//b)
print(a**b)

13
7
30
1
3
1000

In [35]:
a=25
print(a**(1/2))

5.0

In [36]:
#Relational Operator
a=100
b=50
print(a<b)
print(a>b)
print(a>=b)
print(a<=b)

False
True
True
False

In [37]:
#Membership Operator
s='python'

print('y' in s)
print('h' in s)
print('z' in s)

True
True
False

# List

In [39]:
list=['Sam',25,2.5,'Delhi']
print(list)

['Sam', 25, 2.5, 'Delhi']

In [40]:
#length of the list
print(len(list))

4

In [41]:
list[0]

'Sam'

In [42]:
list[1]

25

In [43]:
list[2]

2.5

In [44]:
list[3]

'Delhi'

In [45]:
list[-1]

'Delhi'

In [46]:
list[0]=50
print(list)

[50, 25, 2.5, 'Delhi']

In [47]:
#slicing---Accessing the range of elements /values from the list  #list[start:End]

In [48]:
print(list[1:3])

[25, 2.5]

In [49]:
print(list[0:2])

[50, 25]

In [50]:
print(list[2:])

[2.5, 'Delhi']

In [51]:
print(list[2:4])

[2.5, 'Delhi']

In [52]:
#reverse the list

In [53]:
print(list[::-1])

['Delhi', 2.5, 25, 50]

# Tuples

In [54]:
tup=('street','sagar',254)
print(tup)

('street', 'sagar', 254)

In [55]:
#accessing the tuple
print(tup[0])
print(tup[1])

street
sagar

In [ ]:
#Slicing the tuple

In [56]:
print(tup[1:])

('sagar', 254)

In [57]:
print(tup[:2])

('street', 'sagar')

In [59]:
#deleting a tuple
del(tup)

In [60]:
tup

NameError: name 'tup' is not defined

# Set

In [61]:
a={1,2,3,4}
print(a)

{1, 2, 3, 4}

In [62]:
a.add(50)

In [63]:
print(a)

{1, 2, 3, 4, 50}

In [64]:
a={1,6,5,3,2,4}
a

{1, 2, 3, 4, 5, 6}

# Dictionary

In [2]:
d={'Name':'Samuel','Age':30}
d

{'Name': 'Samuel', 'Age': 30}

In [3]:
print(d['Name'])

Samuel

In [4]:
print(d['Age'])

30

In [5]:
#update Dictionary
d['Age']=40
d

{'Name': 'Samuel', 'Age': 40}

In [6]:
d.items()

dict_items([('Name', 'Samuel'), ('Age', 40)])

In [7]:
d.keys()

dict_keys(['Name', 'Age'])

In [8]:
d.values()

dict_values(['Samuel', 40])

# Statement

In [9]:
#if
#if else
#elif

In [10]:
#if
x=int(input('Enter a Number: '))

if x==100:
    print('You Entered My Favourite Number')

Enter a Number: 100
You Entered My Favourite Number

In [12]:
#if else
x=int(input('Enter a Number: '))

if x==100:
    print('You entered by Favourite Number')
else:
    print('This is not my Favorite Number')

Enter a Number: 50
This is not my Favorite Number

In [14]:
#elif Statement
a=int(input('Enter the value of a: '))
b=int(input('Enter the value of b: '))

if a<b:
    print('b is greater')
elif a==b:
    print('a is equal to b')
else:
    print('a is greater')

Enter the value of a: 50
Enter the value of b: 100
b is greater

# For Loop

In [15]:
list=['Indra','Raju','Sai','John']

In [16]:
for i in list:
    print(i)

Indra
Raju
Sai
John

In [17]:
cars=['BMW','Audi','Mecedez','Volvo']
for i in cars:
    print(i)

BMW
Audi
Mecedez
Volvo

In [18]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
for i in range(25):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

# While Loop

In [20]:
i=0

while i<=5:
    print(i)
    i+=1   #i=i+1

0
1
2
3
4
5

In [21]:
#While Loop with Continue
# Prints all the elements till condition gets False and skips that if condition is met


i=0

while i<=7:
    i+=1
    if i==6:
        continue
    print(i)

1
2
3
4
5
7
8

In [22]:
# while Loop with Break Statement
i=1
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [23]:
# While Loop with Pass Statement
i=0
str1='Cambridge'

while i<len(str1):
    if str1[i]=='g':
        i=i+1
        
        pass
    print('Present Letter: ',str1[i])
    i=i+1

Present Letter:  C
Present Letter:  a
Present Letter:  m
Present Letter:  b
Present Letter:  r
Present Letter:  i
Present Letter:  d
Present Letter:  e

# Functions

In [24]:
# function in python(Defineing a function)
def func1():
    print('Hello I am A Function')
    print('I am Ready')

In [25]:
# Calling a Function
func1()

Hello I am A Function
I am Ready

In [29]:
def func2(fname):
    print('Good Evening Welcome to the Session '+ fname)

In [30]:
func2('Johnny')

Good Evening Welcome to the Session Johnny

In [31]:
def f3(a,b):
    c=a+b
    print(c)

In [32]:
f3(5,4)

9

In [33]:
def area(r):
    a = 3.14*r*r
    print(a)

In [34]:
area(5)

78.5

In [35]:
def rect(l,b):
    area=l*b
    print(area)

In [36]:
rect(10,20)

200

In [38]:
def bmi(weight,height):
    return weight/height**2

In [39]:
bmi(70,1.76)

22.59814049586777

# Lambda Function

In [40]:
# add 10 to a argument a
x=lambda a: a+10
print(x(20))

30

In [41]:
# Summarize the argumnet with 2 arguments a,b
x=lambda a,b : a+b
print(x(50,20))

70

In [42]:
x=lambda a,b,c:a+b+c
print(x(20,30,40))

90

In [45]:
# Subtraction
x=lambda a,b: a-b
print(x(50,20))

30

In [46]:
#multiplication
x=lambda a,b:a*b
print(x(50,20))

1000